version: "3.8"

services:
  fastapi:
    build: ./fastapi_app
    container_name: fastapi_app
    env_file: .env
    ports:
      - "8000:8000"
    volumes:
      - ./data:/data
    depends_on:
      - mysql
      - minio
    networks:
      - app-net

  jupyter:
    build: ./jupyter_app
    container_name: jupyter_app
    env_file: .env
    environment:
      AWS_ACCESS_KEY_ID: ${MINIO_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${MINIO_SECRET_ACCESS_KEY}
      AWS_ENDPOINT_URL: ${MLFLOW_MINIO_ENDPOINT_URL}
      MLFLOW_S3_ENDPOINT_URL: ${MLFLOW_MINIO_ENDPOINT_URL}
      MLFLOW_TRACKING_URI: http://mlflow:5000
    ports:
      - "8888:8888"
    volumes:
      - ./data:/data
      - ./scripts:/scripts
      - ./jupyter_app/notebooks:/home/jovyan/work
    command: start-notebook.sh --NotebookApp.token=''
    depends_on:
      - mysql
      - minio
      - mlflow
    networks:
      - app-net

  minio:
    image: minio/minio
    container_name: minio
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio-data:/data
    command: server /data --console-address ":9001"
    networks:
      - app-net

  minio-init:
    image: minio/mc
    container_name: minio_init
    depends_on:
      - minio
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
      MLFLOW_ARTIFACT_BUCKET: ${MLFLOW_ARTIFACT_BUCKET}
    entrypoint: >
      sh -c "
      sleep 10 &&
      mc alias set local http://minio:9000 $MINIO_ROOT_USER $MINIO_ROOT_PASSWORD &&
      mc mb local/$MLFLOW_ARTIFACT_BUCKET || echo 'Bucket $MLFLOW_ARTIFACT_BUCKET já existe' &&
      mc mb local/mlflow || echo 'Bucket mlflow já existe' &&
      mc anonymous set public local/$MLFLOW_ARTIFACT_BUCKET || echo 'Permissões do bucket $MLFLOW_ARTIFACT_BUCKET já configuradas' &&
      mc anonymous set public local/mlflow || echo 'Permissões do bucket mlflow já configuradas' &&
      echo '✓ Buckets configurados com permissões públicas no MinIO.'
      "
    networks:
      - app-net

  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "13308:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - app-net

  mlflow:
    build: ./mlflow_app
    container_name: mlflow
    environment:
      MLFLOW_S3_ENDPOINT_URL: ${MLFLOW_MINIO_ENDPOINT_URL}
      MINIO_ACCESS_KEY_ID: ${MINIO_ACCESS_KEY_ID}
      MINIO_SECRET_ACCESS_KEY: ${MINIO_SECRET_ACCESS_KEY}
      AWS_ACCESS_KEY_ID: ${MINIO_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${MINIO_SECRET_ACCESS_KEY}
      AWS_ENDPOINT_URL: ${MLFLOW_MINIO_ENDPOINT_URL}
      AWS_DEFAULT_REGION: us-east-1
      BACKEND_URI: ${MLFLOW_BACKEND_URI}
      MLFLOW_ARTIFACT_BUCKET: ${MLFLOW_ARTIFACT_BUCKET}
    command: >
      mlflow server
      --backend-store-uri ${MLFLOW_BACKEND_URI}
      --default-artifact-root s3://${MLFLOW_ARTIFACT_BUCKET}/
      --host 0.0.0.0
      --port 5000
      --allowed-hosts mlflow,localhost,127.0.0.1,0.0.0.0,*
    depends_on:
      - mysql
      - minio
    ports:
      - "5000:5000"
    networks:
      - app-net

networks:
  app-net:
    driver: bridge

volumes:
  mysql-data:
  minio-data:
